---

---

<section id="about" class="h-[100dvh] px-8 pt-16 prose prose-p:font-thin">
  <h1>Acerca de mí</h1>
  <p>
    Me defino como una profesional comprometida y con una profunda vocación de
    servicio. Creo en la importancia del pensamiento crítico y en el trato
    cálido y respetuoso hacia cada persona que consulta. Busco generar un
    espacio de confianza y escucha activa, adaptándome siempre a las necesidades
    y particularidades de cada caso. Integro una mirada holística y una fuerte
    perspectiva de género, convencida de que la salud mental debe abordarse
    desde una comprensión integral. Además, hablo inglés de forma fluida, lo que
    me permite brindar atención a consultantes de diversos contextos.
  </p>
</section>
