---

---

<main class="h-[100dvh] p-20 bg-purple-800">
  <section class="mx-auto max-w-2xl space-y-5">
    <div class="text-5xl font-bold text-white font-serif">Acerca de mí</div>
    <div class="leading-5 text-lg">
      Me defino como una profesional comprometida y con una profunda vocación de
      servicio. Creo en la importancia del pensamiento crítico y en el trato
      cálido y respetuoso hacia cada persona que consulta. Busco generar un
      espacio de confianza y escucha activa, adaptándome siempre a las
      necesidades y particularidades de cada caso. Integro una mirada holística
      y una fuerte perspectiva de género, convencida de que la salud mental debe
      abordarse desde una comprensión integral. Además, hablo inglés de forma
      fluida, lo que me permite brindar atención a consultantes de diversos
      contextos.
    </div>
  </section>
</main>
