---

---

<main class="h-[100dvh] p-20">
  <section class="mx-auto max-w-2xl space-y-5">
    <div class="text-5xl font-bold text-purple-800 font-serif">
      Estudios y Formación
    </div>
    <div class="leading-5 text-lg">
      Estudios y formación. Soy médica graduada en 2020 de la Universidad
      Adventista del Plata. Desde entonces, trabajé en guardia general y
      atención primaria de la salud en hospitales provinciales, centros de salud
      públicos y clínicas privadas en Entre Ríos. En 2022 comencé la residencia
      en Psiquiatría, actualmente me encuentro cursando mi tercer y último año
      en el Centro Regional de Salud Mental Agudo Ávila y el Hospital Provincial
      del Centenario, como parte de la especialización en Psiquiatría de la
      Universidad Nacional de Rosario (UNR). Mi formación está guiada por
      ideales de servicio y un enfoque integral que prioriza la aplicación
      crítica de la mejor evidencia disponible.
    </div>
  </section>
</main>
