---

---

<section
    class="h-[100dvh] bg-[#670067] px-8 md:px-16 pt-16 prose md:prose-lg prose-invert prose-p:font-thin prose-p:text-white"
>
    <h1>Estudios y Formación</h1>
    <p>
        Me gradué de Médica en la Universidad Adventista del Plata en el 2020.
        Desde entonces, trabajé en guardia general y atención primaria de la
        salud en hospitales y centros de salud provinciales y clínicas privadas
        en Entre Ríos.
    </p>
    <p>
        En 2022 comencé la residencia en Psiquiatría. Actualmente me encuentro
        cursando mi tercer y último año en el Centro Regional de Salud Mental
        Agudo Ávila y el Hospital Provincial del Centenario, como parte de la
        especialización en Psiquiatría de la Universidad Nacional de Rosario
        (UNR). Mi formación está guiada por un enfoque integral que prioriza la
        aplicación crítica de la mejor evidencia disponible e ideales de
        servicio.
    </p>
</section>
