---
import { Image } from "astro:assets";
import Agus from "../assets/Agus.png";
---

<main class="h-[100dvh]">
  <section class="space-y-2 overflow-hidden">
    <Image
      src={Agus}
      alt="Agustina's photo"
      class="h-96 w-96 object-cover ml-28 -mb-2"
    />

    <div class="text-5xl text-right pr-16">
      Agustina Sofía<br />
      <span class="font-bold">Bojko Slekis</span>
    </div>
    <br />
    <br />
    <div class="text-center font-light uppercase text-sm">
      Médica (Mat. 27950) <br /> Psiquiatra en proceso: Avanzado
    </div>
  </section>
</main>
