---

---

<nav class="flex gap-4 justify-center pt-12 font-light uppercase text-xs">
  <a href="#about" class="hover:underline underline-offset-2">Sobre mí</a>
  <a href="#" class="hover:underline underline-offset-2">Contacto</a>
  <a href="#" class="hover:underline underline-offset-2">Reserva turno</a>
</nav>
