---

---

<main class="h-[100dvh] p-20">
  <section class="mx-auto max-w-2xl space-y-5">
    <div class="text-5xl font-bold text-purple-800 font-serif">Mirada</div>
    <div class="leading-5 text-lg">
      Mi principal objetivo es brindar una atención de calidad a mis pacientes,
      acompañándolos en sus procesos de salud mental desde un lugar de respeto y
      empatía. Trabajo desde un modelo de asesoramiento horizontal, en el cual
      la relación terapéutica se construye en conjunto con cada persona,
      priorizando el intercambio y alejándome de la mirada verticalista que
      caracteriza a la medicina hegemónica. Aspiro a seguir formándome en
      distintas herramientas (farmacológicas y psicoterapéuticas) para ofrecer
      un acompañamiento individualizado, adaptado a las necesidades y objetivos
      de cada consultante.
    </div>
  </section>
</main>
