---

---

<section
    class="h-[100dvh] bg-[#670067] px-8 pt-16 prose prose-invert prose-p:font-thin prose-p:text-gray-100"
>
    <h1>Mirada</h1>
    <p>
        Mi principal objetivo es brindar una atención de calidad a mis
        pacientes, acompañándo sus procesos desde un lugar de respeto y empatía.
        Trabajo desde un modelo de asesoramiento horizontal, en el cual la
        relación terapéutica se construye en conjunto con cada persona,
        priorizando el intercambio y alejándome de la mirada verticalista que
        caracteriza a la medicina hegemónica. Aspiro a seguir formándome en
        distintas herramientas (farmacológicas y psicoterapéuticas) para ofrecer
        un acompañamiento individualizado, adaptado a las necesidades y
        objetivos de cada consultante.
    </p>
</section>
